In [1]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [2]:
import pandas as pd

In [12]:
blaze_orig_df_10 = pd.read_csv('results/wdbench/ppaths/blaze/results_ppaths_10_original.csv')
blaze_orig_df_10_forced = pd.read_csv('results/wdbench/ppaths/blaze/results_ppaths_10_original_forced.csv')
blaze_orig_df_10.drop('Unnamed: 0', axis=1, inplace=True)
blaze_orig_df_10_forced.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
virt_orig_df_10 = pd.read_csv('results/wdbench/ppaths/virt/results_ppaths_10_original.csv')
virt_orig_df_10_forced = pd.read_csv('results/wdbench/ppaths/virt/results_ppaths_10_original_forced.csv')
virt_orig_df_10.drop('Unnamed: 0', axis=1, inplace=True)
virt_orig_df_10_forced.drop('Unnamed: 0', axis=1, inplace=True)

In [14]:
blaze_orig_df_10

   query_id  exec_n  exec_time    results
0      P290       0          0  timed out
1      P290       1          0  timed out
2      P290       2          0  timed out
3      P290       3          0  timed out
4      P297       0          0  timed out
5      P297       1          0  timed out
6      P297       2          0  timed out
7      P297       3          0  timed out
8      P387       0          0  timed out
9      P387       1          0  timed out
10     P387       2          0  timed out
11     P387       3          0  timed out
12     P382       0          0  timed out
13     P382       1          0  timed out
14     P382       2          0  timed out
15     P382       3          0  timed out
16     P265       0          0  timed out
17     P265       1          0  timed out
18     P265       2          0  timed out
19     P265       3          0  timed out
20     P268       0          0  timed out
21     P268       1          0  timed out
22     P268       2          0  timed out
23     P268       3          0  timed out
24     P187       0          0  timed out
25     P187       1          0  timed out
26     P187       2          0  timed out
27     P187       3          0  timed out
28     P279       0          0  timed out
29     P279       1          0  timed out
30     P279       2          0  timed out
31     P279       3          0  timed out
32     P203       0          0  timed out
33     P203       1          0  timed out
34     P203       2          0  timed out
35     P203       3          0  timed out
36     P385       0          0  timed out
37     P385       1          0  timed out
38     P385       2          0  timed out
39     P385       3          0  timed out

In [16]:
blaze_merged_df = pd.merge(blaze_orig_df_10, blaze_orig_df_10_forced, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_forced'))

In [18]:
virt_merged_df = pd.merge(virt_orig_df_10, virt_orig_df_10_forced, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_forced'))

In [21]:
blaze_merged_df[blaze_merged_df['query_id'] == 'P187']

   query_id  exec_n  exec_time    results  exec_time_forced results_forced
24     P187       0          0  timed out                 0      timed out
25     P187       1          0  timed out                 0      timed out
26     P187       2          0  timed out                 0      timed out
27     P187       3          0  timed out                 0      timed out

In [30]:
virt_merged_df[virt_merged_df['query_id'] == 'P385']

,query_id,exec_n,exec_time,results,exec_time_forced,results_forced
0,P385,0,0.964276,NaN,0.0,EndPointInternalError: The endpoint returned t...
1,P385,1,1.088011,NaN,0.0,EndPointInternalError: The endpoint returned t...
2,P385,2,1.098050,NaN,0.0,EndPointInternalError: The endpoint returned t...
3,P385,3,0.915344,NaN,0.0,EndPointInternalError: The endpoint returned t...

In [ ]:
'P187', 'P387', 'P382', 'P385', 'P297', 'P279', 'P268', 'P203', 'P265', 'P290'